.center {
  text-align: center;
}
.pagination {
  display: inline-block;
}

.pagination a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  margin: 0 4px;
  color: rgb(140, 142, 144);
}

.pagination a.active {
  color: maroon;
}

#question{
  font-weight: bold;
  font-size: 18px; /* or larger */
  height: 200px; /* or larger */
  width: 400px; /* or larger */
	border: 2px solid rgb(112, 0, 46);
	border-radius: 5px;
}

#questionbtn1{
	width: 200px;
	height: 100px;
	background-color: rgb(112, 0, 46);
	color: white;
	border: 2px solid rgb(140, 142, 144);
	border-radius: 12px;
	font-size: 24px;
}

#questionbtn2{
	width: 200px;
	height: 100px;
	background-color: rgb(112, 0, 46);
	color: white;
	border: 2px solid rgb(140, 142, 144);
	border-radius: 12px;
	font-size: 24px;
}

#h{
	color: rgb(112, 0, 46);
}

.madlibcss{
	color: rgb(140, 142, 144);
    font-size: 18px;
}

.stdmadlib{
  padding:8px;
  display:inline;
  border:none;
  border-bottom:1px solid rgb(112, 0, 46);
  text-align: center
}

.stdInfo{
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  width:100%
}
