body{
  text-align: center;
  font-family: arial, sans-serif;
}

i{
  border: solid rgb(112, 0, 46);
  border-width: 0 5px 5px 0;
  position: fixed;
  width: 10px;
  height: 10px;
  top: 30px;
  left: 30px;
}

.main{
  margin: auto;
  text-align: center;
  justify-content: center;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#map{
  display: inline-block;
  width: auto;
  height: 100vh;
  object-fit: cover;
  margin: 0;
}
