/* Let's start by having individual css files for each of us
on our own work. So that we are not building too much into
one css document. then towards the end we will try to
consolidate all of our code?

I hope that sounds okay for you guys? Please let me know
if there is a better system. */

@font-face {
font-family: Arial, san-serif;
}

*{
  box-sizing: border-box;
}

body, html{
  background-color: white;
  margin: 0;
  padding: 0;
}

.header{
  justify-content: center;
  background: #70002e;
  height: 130px;
  /* line-height: 200px; */
}
.header-white-banner{
  margin: 0 auto;
  transform: translateY(200%);
  background: white;
  height: 20px;
}
.header-logo{
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-25%);
  align-self: center;
  justify-content: center;
  align-items: center;
  /* background: #70002e; */
  height: 130px;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-left: 2em;
  margin-right: 2em;
  grid-gap: 10px;
  /* margin: 50px auto;
  justify-content: center; */

}

.blocks{
  background: rgba(112,	0,	46, 0.9);
  /* opacity: 0.9; */
  position: relative;
  height: 130px;
  width: 130px;
  /* z-index: 2; */

}

.blocks-icons {
  height: 30px;

}

.blocks h3 {
  color: white;
  font-family: Arial;
  font-size: 20px;
}

.background-tiles {
position: absolute;
height: 50px;
/* z-index: -1; */
/* align-items: center; */
}

@media (max-width: 600px) {


}
